In [83]:
import pandas as pd
import numpy as np

In [84]:
train=pd.read_csv('train_data.csv')
test=pd.read_csv('test_data.csv')

In [85]:
test.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
0,50,Self-emp-not-inc,30731,Assoc-voc,11,Never-married,Other-service,Not-in-family,White,Male,0,0,50,United-States
1,38,Private,299810,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
2,23,Private,129767,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,1721,40,United-States
3,39,Federal-gov,257175,Bachelors,13,Divorced,Tech-support,Unmarried,Black,Female,0,625,40,United-States
4,45,Private,174426,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,43,United-States

In [86]:
from sklearn.preprocessing import LabelEncoder
l_work=LabelEncoder().fit(train['workclass'])
l_edu=LabelEncoder().fit(train['education'])
l_marry=LabelEncoder().fit(train['marital-status'])
l_occ=LabelEncoder().fit(train['occupation'])
l_relation=LabelEncoder().fit(train['relationship'])
l_race=LabelEncoder().fit(train['race'])
l_gender=LabelEncoder().fit(train['gender'])
l_country=LabelEncoder().fit(train['native-country'])
l_income=LabelEncoder().fit(train['income'])

Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x7f649d9dcc50>>
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/xgboost/core.py", line 324, in __del__
    _check_call(_LIB.XGDMatrixFree(self.handle))
AttributeError: 'DMatrix' object has no attribute 'handle'

In [87]:
for df in train,test:
    df['workclass']=l_work.transform(df['workclass'])
    df['education']=l_edu.transform(df['education'])
    df['marital-status']=l_marry.transform(df['marital-status'])
    df['occupation']=l_occ.transform(df['occupation'])
    df['relationship']=l_relation.transform(df['relationship'])
    df['race']=l_race.transform(df['race'])
    df['gender']=l_gender.transform(df['gender'])
    df['native-country']=l_country.transform(df['native-country'])

In [88]:
train['income']=l_income.transform(train['income'])

In [89]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train.drop(['income'],axis=1), train['income'], test_size=0.1, random_state=42)

In [90]:
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [91]:
extra=ExtraTreesClassifier(n_estimators=200,n_jobs=-1).fit(X_train,y_train).predict(X_test)
accuracy_score(y_test,extra)

0.85627418463239358

In [92]:
random=RandomForestClassifier(n_estimators=2000,n_jobs=-1).fit(X_train,y_train).predict(X_test)
accuracy_score(y_test,random)

0.86401326699834158

In [93]:
decision=DecisionTreeClassifier().fit(X_train,y_train).predict(X_test)
accuracy_score(y_test,decision)

0.81066887783305697

In [94]:
from sklearn import svm
svm=svm.SVC().fit(X_train,y_train).predict(X_test)
accuracy_score(y_test,svm)

0.76810392482034273

In [95]:
from sklearn.naive_bayes import GaussianNB
nv=GaussianNB().fit(X_train,y_train).predict(X_test)
accuracy_score(y_test,nv)

0.79491431730237705

In [96]:
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
xgb = XGBClassifier( n_estimators=2000, learning_rate=0.001, max_depth=20, subsample=0.9
                   , min_child_weight=4, colsample_bytree=0.7)

boost=xgb.fit(X_train,y_train).predict(X_test)
accuracy_score(y_test,boost)

0.87866224433388618

In [97]:
best_prediction=xgb.fit(train.drop(['income'],axis=1), train['income']).predict(test)

In [98]:
test['income']=l_income.inverse_transform(best_prediction)
test.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,50,4,30731,8,11,4,7,1,4,1,0,0,50,38,<=50K
1,38,2,299810,11,9,2,5,0,2,1,0,0,40,38,<=50K
2,23,2,129767,15,10,4,0,1,4,0,0,1721,40,38,<=50K
3,39,0,257175,9,13,0,12,4,2,0,0,625,40,38,<=50K
4,45,2,174426,12,14,2,9,0,4,1,0,0,43,38,>50K

In [99]:
test.to_csv('prediction.csv',index=False)

In [103]:
#test['workclass']=l_work.inverse_transform(test['workclass'])
test['education']=l_edu.inverse_transform(test['education'])
test['marital-status']=l_marry.inverse_transform(test['marital-status'])
test['occupation']=l_occ.inverse_transform(test['occupation'])
test['relationship']=l_relation.inverse_transform(test['relationship'])
test['race']=l_race.inverse_transform(test['race'])
test['gender']=l_gender.inverse_transform(test['gender'])
test['native-country']=l_country.inverse_transform(test['native-country'])

In [105]:
test.to_csv('encoded_predicton.csv',index=False)